:root {
    --prymari-color: #131313;
    --secondary-color: #424242;
    --secondary-dark: #727272;
    --highlight-color: #FF900E;
}

/* ------------------
Comon Design  */
body {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.horizental__line {
    border: 1px solid #ddd;
}
/* -------------------
Header section style  */
.header {
    display: flex;
    justify-content: center;
    background: rgba(255, 144, 14, 0.1);
}
.header__container {
    display: flex;
    justify-content:space-between;
    width: 100%;
    max-width: 80%;
}
.header__logo--tittle{
    font-size: 28px;
    font-weight: 700;
    color: var(--prymari-color);
}
.header__link {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header__link li {
    list-style: none;
}
.header__link li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--prymari-color)
}

/* --------------------
Baner section design  */
.baner {
    padding-top: 50px;
    background: rgba(255, 144, 14, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.baner__text {
    max-width: 750px;
    width: 100%;
    text-align: center;
    padding: 0px 10px;
}
.baner__tittle {
    font-size: 2.8rem;
    font-weight: 700;
    margin: 5px 0px;
    color: var(--prymari-color);
}
.baner__decription {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: var(--secondary-dark);
}
.baner__btn {
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 15px 22px;
    background-color: var(--highlight-color);
    border-style: none;
    border-radius: 8px;
    margin: 20px 0px 40px 0px;
    transition: 1s;
}
.baner__btn:hover {
    transform: scale(1.1) ;
    cursor: pointer;
}
.banner-image{
    display: flex;
    justify-content: center;
}
.banner-image .baner-image__img{
    width: 80%;
    padding-bottom: 30px;
}
/* ----------------------------
our-fratures Section design  */
.our-fratures{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.our-fratures__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    align-items: center;
    width: 100%;
    max-width: 900px;
}
.our-fratures__images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
.our-fratures--image img {
    width: 100%;
}
.our-fratures__tittle{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 35px;
    margin: 0px;
}
.our-fratures__tittle .middle--text{
    color: var(--prymari-color);
    font-weight: 700;
}
.our-fratures__tittle .end--text{
    color: var(--highlight-color);
    font-weight: 700;
    display: block;
}
.our-fratures__description {
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-color);
    line-height: 26px;
    margin: 10px 0px 25px 0px;
}

/*-------------------------------
 experince Section style  */
 .experince{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    
 }
 .experince__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    width: 100%;
    max-width: 80%;
 }
 .experince__tittle {
    border-left: 5px solid var(--highlight-color);
 }
 .experince__tittle h1 {
    font-size: 35px;
    color: var(--prymari-color);
    margin: 5px 0px 5px 17px;
 }
 .experince__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--secondary-dark);
 }
 .experince__category{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 15px 25px 2px 25px;
    margin-top: 15px;
 }
.experince__category__tittle {
    font-size: 18px;
    font-weight: 600;
    color: var(--prymari-color);
    margin: 0px;
}
.experince__category__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--secondary-dark);
    margin-top: 5px;
}
.experince__category__person--btn{
    font-size: 50px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: var(--highlight-color);
    padding: 1.5rem 1.5rem;
    font-size: 700;
    border-radius: 8px;
    border: none;
    margin: -90px 0px 0px -50px;
}
.experince__category__person--btn span{
    font-size: 20px;
    color: #FFFFFF;
    display: block;
    
}
.experince__category__person button:hover {
    color: var(--highlight-color);
    background-color: #eee;
    border: none;
    cursor: pointer;
}
.experince__category__person :hover span{
    color: var(--highlight-color);
    background-color: #eee;
    border: none;
}
.experince__category__person img{
    width: 100%;
}

/* ------------------------
Some facts style design  */
.some-facts {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.some-facts__container {
    width: 100%;
    max-width: 80%;
}
.some-facts__text h1{
    font-size: 35px;
    color: var(--prymari-color);
}
.some-facts__text p{
    font-size: 16px;
    color: var(--secondary-dark);
}
.some-facts__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 60px;
    padding: 0px 25px;
}
.some-facts__box {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px 10px;
    margin-top: 40px;
    width: 100%;
    transition: 1s;
}
.some-facts__box:hover {
    background-color: #FF900E;
    transform: scale(1.1) translateY(-15px);
    cursor: pointer;
}
.some-facts__box h1{
    font-size: 35px;
    font-weight: 600;
    color: var(--secondary-color);
    padding: 10px 0px;
    margin: 0;
}
.some-facts__box p{
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-dark);
    margin: 0;
}
.spoors {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}
.spoors__container{
    width: 100%;
    max-width: 80%;
    text-align: center;
}
.spoors__tittle {
    font-size: 35px;
    color: var(--prymari-color);
}
.spoors__description{ 
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--secondary-dark);
}
.spoors__images{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.spoors__images .spoors__images--img {
    width: 130px;
    filter: grayscale(1);
    margin-top: 35px;
}

/* ----------------------
Contact section Style  */
.contact {
display: flex;
justify-content: center;

}
.contact__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    grid-column-gap: 20px;
}
.contact__tittle {
    font-size: 35px;
    color: var(--prymari-color);
}
.contact__description {
    font-size: 16px;
    color: var(--secondary-dark);
    font-weight: 400;
    line-height: 22px;
}
.contact__text {
    display: flex;
    flex-direction: column;
}
.contacr__form {
    display: flex;
    row-gap: 25px;
    flex-direction: column;
}
.contacr__form input:focus{
    border: 2px solid var(--highlight-color);
    border-radius: 8px;
    
}
.contacr__form input:active{
    border: 2px solid var(--highlight-color);
    border-radius: 8px;
    border-color: transparent;
}
.contacr__form input {
    font-size: 16px;
    font-weight: 400;
    padding: 15px 15px;
    border-color: transparent;
    border-bottom: 1px solid var(--highlight-color);
    outline: none;
    
}
.contacr__form textarea {
    font-size: 16px;
    font-weight: 400;
    padding: 15px 15px;
    border-color: transparent;
    border-bottom: 1px solid var(--highlight-color);
    outline: none;
    
}
.contacr__form textarea:focus {
    border: 2px solid var(--highlight-color);
    border-radius: 8px;
}
.Contact__btn {
    font-size: 16px;
    max-width: 50%;
    font-weight: 600;
    color: white;
    padding: 15px 22px;
    background-color: var(--highlight-color);
    border-style: none;
    border-radius: 8px;
    margin: 20px 0px 40px 0px;
    transition: 1s;
}
.Contact__btn:hover {
    transform: translateX(5px);
    cursor: pointer;
}
.contact__info {
    display: flex;
    justify-content: center;
    background-color: #FFF4E7;
    align-items: center;
}
.cintact__info--link {
    display: flex;
    gap: 50px;
    flex-direction: column;
    padding: 0;
}
.cintact__info--link li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2px;
}
.cintact__info--link li i{
    font-size: 40px;
    color: var(--highlight-color);
}
.cintact__info--link li p{
    font-size: 18px;
    color: var(--secondary-dark);
}

/* -------------------------
Footer style design  */
.footer {
    display: flex;
    justify-content: center;
}
.footer__container{
    width: 100%;
    max-width: 80%;
    background-color: #FFF4E7;
    height: 70px;
    padding: 10px 0px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.footer__text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--secondary-dark);
}


/* Start respoosive Medeia queary  */
@media only screen and (max-width: 576px) {
    .header__logo {
        display: flex;
        justify-content: center;
    }
    .header__logo--tittle {
        text-align: center;
        border: 2px solid #ddd;
        border-radius: 8px;
        padding: 5px 15px;
    }
    .header__container, .header__link{
        flex-direction: column;
        padding: 0;
    }
    .baner__tittle, .our-fratures__tittle, .experince__tittle h1, .some-facts__text h1, .spoors__tittle {
        font-size: 25px;
    }
    .baner__decription {
        padding: 0px 20px;
    }
    .banner-image .baner-image__img{
        width: 85%;
    }
    .our-fratures__container {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 10px;
    }
    .our-fratures__images {
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 35px;
    }
    .our-fratures__text {
        margin-top: 30px;
        text-align: center;
        padding: 0px 20px;
    }
    .experince {
        margin-top: 30px;
    }
    .experince__container {
        grid-template-columns: repeat(1, 1fr);
    }
    .experince__category__person { 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    .experince__category__person--btn {
        margin: 20px 0px;
        font-size: 40px;
    }
    .some-facts__text {
        text-align: center;
    }
    .some-facts, .spoors{
        margin-top: 50px;
    }
    .experince__category h3{
        font-size: 16px;
    }
    .some-facts__items {
        grid-template-columns: repeat(1, 1fr);
    }
    .spoors__images {
        flex-direction: column;
        align-items: center;
    }
    .footer__text p {
        text-align: center;
        padding: 0px 20px;
    }
    .contact__container {
        grid-template-columns: repeat(1, 1fr);
        
    }
    .contact__info {
        border-radius: 8px;
    }
    .cintact__info--link {
        padding-top: 15px;
    }
    .Contact__btn {
        text-align: center;
    }   
}
